<html>
<head>
    <title>${object}-edit</title>
    <!-- Author: Song -->
    <#include "../common/header.jsp"/>
</head>
<body>
<div id="wrapper">
    <#include "../common/side.jsp"/>
    <#include "../common/main.jsp"/>
    <div id="generalForm"/>
<script type="text/javascript">
    //Caution: AUTO_INCREMENT id should be set the type:{delete}
    var id = window.location.pathname.substring(window.location.pathname.lastIndexOf("/")+1);
    var url = "/${object}/"+id;
    var pageParas ={
        formInit :[
            #foreach($field in $fieldList)
                {name:"${field.name}", alias:"${field.name}" #if(${field.name} == "id"),type:"hidden" #else #end} #if(${velocityCount} < ${fieldList.size()}),
            #else #end
            #end
        ],
        formExtend :[
        ],
        title : "修改${object}",
        url : url,
        redirectUrl : "/${object}/list",
        method : "put"
        /*
       example:
       {name:"id", alias:"价格(元)", type:"delete", defaultValue:"1234"},
       {name:"price", alias:"价格(元)", type:"password",validator:{dataType:"number",notNull:true}},
       {name:"mobile", alias:"手机", validator:{dataType:"mobile",notNull:true}},
       {name:"state", alias:"状态", type:"select", options:["上架","下架"]},
       {name:"email", alias:"邮箱",validator:{dataType:"email", minLength:"5", maxLength:"10", notNull:true}},
       * */
    }

</script>
    <#include "../common/footer.jsp"/>
</div>
</body>
</html>

