package com.cpu.service;

import com.cpu.model.${simpleClassName};
import com.cpu.repository.hiber.${simpleClassName}Repository;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;
import org.springframework.stereotype.Service;
import javax.annotation.Resource;

/**
* Created by song.
*/
@Service
public class ${simpleClassName}CrudService extends BaseService{
    @Resource
    ${simpleClassName}Repository ${object}Repository;

    public int add(${simpleClassName} ${object}) {
        try{
            return ${object}Repository.save(${object}).getId();
        }catch (Exception e){
            e.printStackTrace();
            return -1;
        }
    }

    public int update(${simpleClassName} ${object}) {
        return add(${object});
    }

    public int delete(Integer id) {
        try{
            ${object}Repository.delete(id);
            return 1;
        }catch (Exception e){
            e.printStackTrace();
            return -1;
        }
    }

    public ${simpleClassName} get(java.lang.Integer id) {
        return ${object}Repository.findOne(id);
    }

    public Page<${simpleClassName}> getList(PageRequest pageRequest, String q) {
        return getList(pageRequest, q, null, null);
    }

    public Page<${simpleClassName}> getList(PageRequest pageRequest, String q, String asc, String desc) {
    //全文检索 优先使用fulltext索引 还可以利用lucence，like等
        return ${object}Repository.findAll(pageRequest);
    }

}